*{
    margin: 0;
    padding: 0;
  }
  html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  body{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(3,18,41,1) 5%, rgba(9,121,70,1) 52%, rgba(0,212,255,1) 100%);
  }
  p{
    display: block;
    font-size: 18px;
    font-family: 'Courier New';
    color: rgb(30, 255, 0);
    margin-left: 50px;
  }
  h4{
    color:#fff;
    margin-left: 50px;
    font-family:'Helvetica';
  }
 .output{
     width: 90vw;
     height: auto;
     background-color: rgb(2, 0, 0);
     margin: 0 auto;
     border-radius: 25px;
     padding-bottom: 30px;
     margin-top: 10vh;
   
 }
 header{
     width: 90vw;
     height: auto;
     background-color: rgb(2, 0, 0);
     margin: 0 auto;
     margin-top: 20vh;
     border-radius: 25px;
     display: flex;
 }

 header input{
    width: 400px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
 }

 header button{
     text-decoration: none;
     width:400px;
     height: 53px;
     border-radius: 25px;
     cursor: pointer;
     background-color:rgb(185, 52, 52);
     font-size: 30px;
     border: none; 
     outline: none; 
     box-shadow: none;
 }